.calculator-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  max-width: 650px;
  margin: 0 auto;
}

.quantity-field {
  display: flex;
  flex-direction: row-reverse;
  padding: 1.5rem 1rem;
  width: calc(100% - 2rem);
  margin: 0;
  font-size: 36px;
  background-color: #aaa;
  color: #fef;
}

.row-buttons {
  display: flex;
  width: 100%;
}

button {
  border: 1px solid rgb(209, 207, 209);
}

.btn {
  display: block;
  padding: 2rem 1rem;
  width: 25%;
  font-size: 18px;
  font-weight: 700;
}

.big-btn {
  display: block;
  width: 50%;
  font-size: 20px;
  font-weight: 700;
}

.btn-gray-light {
  background-color: rgb(228, 233, 238);
}

.btn-orange {
  background-color: rgb(255, 114, 62);
}

button:hover {
  cursor: pointer;
  opacity: 50%;
  filter: contrast(1.5);
}
